@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: var(--gray-1);
    --foreground: var(--gray-12);
    /* Gray */
    --gray-1: hsl(0 0% 99%);
    --gray-2: hsl(0 0% 97.3%);
    --gray-3: hsl(0 0% 95.1%);
    --gray-4: hsl(0 0% 93%);
    --gray-5: hsl(0 0% 90.9%);
    --gray-6: hsl(0 0% 88.7%);
    --gray-7: hsl(0 0% 85.8%);
    --gray-8: hsl(0 0% 78%);
    --gray-9: hsl(0 0% 56.1%);
    --gray-10: hsl(0 0% 52.3%);
    --gray-11: hsl(0 0% 43.5%);
    --gray-12: hsl(0 0% 9%);
    /* Gray Alpha */
    --gray-a1: hsla(0, 0%, 0%, 0.012);
    --gray-a2: hsla(0, 0%, 0%, 0.027);
    --gray-a3: hsla(0, 0%, 0%, 0.047);
    --gray-a4: hsla(0, 0%, 0%, 0.071);
    --gray-a5: hsla(0, 0%, 0%, 0.09);
    --gray-a6: hsla(0, 0%, 0%, 0.114);
    --gray-a7: hsla(0, 0%, 0%, 0.141);
    --gray-a8: hsla(0, 0%, 0%, 0.22);
    --gray-a9: hsla(0, 0%, 0%, 0.439);
    --gray-a10: hsla(0, 0%, 0%, 0.478);
    --gray-a11: hsla(0, 0%, 0%, 0.565);
    --gray-a12: hsla(0, 0%, 0%, 0.91);
}

@theme inline {
    --*: initial;
    --spacing: 4px;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-inter);
    --font-mono: var(--font-ibm-mono);
    /* Font size */
    --text-10: 0.625rem;
    --text-12: 0.75rem;
    --text-13: 0.8125rem;
    --text-14: 0.875rem;
    --text-15: 0.9375rem;
    --text-16: 1rem;
    --text-18: 1.125rem;
    --text-20: 1.25rem;
    --text-24: 1.5rem;
    --text-32: 2rem;
    --text-40: 2.5rem;
    --text-48: 3rem;
    --text-56: 3.5rem;
    --text-64: 4rem;
    /* Font weight */
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    /* Line height */
    --leading-12: 0.75rem;
    --leading-16: 1rem;
    --leading-20: 1.25rem;
    --leading-24: 1.5rem;
    --leading-28: 1.75rem;
    --leading-32: 2rem;
    --leading-40: 2.5rem;
    --leading-48: 3rem;
    --leading-56: 3.5rem;
    /* Radius */
    --radius-2: 2px;
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-12: 12px;
    --radius-16: 16px;
    --radius-24: 24px;
    --radius-32: 32px;
    --radius-full: 9999px;
    /* Shadows */
    --shadow-border-color: var(--gray-6);
    --shadow-medium: 0px 2px 2px var(--gray-4), 0px 8px 8px -8px var(--gray-4);
    --shadow-border: 0 0 0 1px var(--shadow-border-color);
    --shadow-small: 0px 2px 2px var(--gray-4);
    --shadow-large: 0px 2px 2px var(--gray-4), 0px 8px 16px -4px var(--gray-4);
    --color-orange: #ff4d00;
    --color-red: #ff2b43;
    --color-yellow: #ffd335;
    --color-blue: #0070f3;
    --color-green: #00ce7c;
    --color-purple: #bc85ff;
    /* Gray */
    --color-gray-1: var(--gray-1);
    --color-gray-2: var(--gray-2);
    --color-gray-3: var(--gray-3);
    --color-gray-4: var(--gray-4);
    --color-gray-5: var(--gray-5);
    --color-gray-6: var(--gray-6);
    --color-gray-7: var(--gray-7);
    --color-gray-8: var(--gray-8);
    --color-gray-9: var(--gray-9);
    --color-gray-10: var(--gray-10);
    --color-gray-11: var(--gray-11);
    --color-gray-12: var(--gray-12);
    /* Gray Alpha */
    --color-gray-a1: var(--gray-a1);
    --color-gray-a2: var(--gray-a2);
    --color-gray-a3: var(--gray-a3);
    --color-gray-a4: var(--gray-a4);
    --color-gray-a5: var(--gray-a5);
    --color-gray-a6: var(--gray-a6);
    --color-gray-a7: var(--gray-a7);
    --color-gray-a8: var(--gray-a8);
    --color-gray-a9: var(--gray-a9);
    --color-gray-a10: var(--gray-a10);
    --color-gray-a11: var(--gray-a11);
    --color-gray-a12: var(--gray-a12);

    --animate-slideLeftAndFade: slideLeftAndFade 300ms ease-out;
    --animate-slideRightAndFade: slideRightAndFade 300ms ease-out;
    --animate-slideUpAndFade: slideUpAndFade 300ms ease-out;
    --animate-slideDownAndFade: slideDownAndFade 300ms ease-out;

    @keyframes slideLeftAndFade {
        from {
            opacity: 0;
            transform: translateX(-2px)
        }

        to {
            opacity: 1;
            transform: translateX(0px)
        }
    }

    @keyframes slideRightAndFade {
        from {
            opacity: 0;
            transform: translateX(2px)
        }

        to {
            opacity: 1;
            transform: translateX(0px)
        }
    }

    @keyframes slideUpAndFade {
        from {
            opacity: 0;
            transform: translateY(2px)
        }

        to {
            opacity: 1;
            transform: translateY(0px)
        }
    }

    @keyframes slideDownAndFade {
        from {
            opacity: 0;
            transform: translateY(-2px)
        }

        to {
            opacity: 1;
            transform: translateY(0px)
        }
    }


}

.dark {
    --background: var(--gray-1);
    --foreground: var(--gray-12);
    /* Gray */
    --gray-1: hsl(0 0% 8.5%);
    --gray-2: hsl(0 0% 11%);
    --gray-3: hsl(0 0% 13.6%);
    --gray-4: hsl(0 0% 15.8%);
    --gray-5: hsl(0 0% 17.9%);
    --gray-6: hsl(0 0% 20.5%);
    --gray-7: hsl(0 0% 24.3%);
    --gray-8: hsl(0 0% 31.2%);
    --gray-9: hsl(0 0% 43.9%);
    --gray-10: hsl(0 0% 49.4%);
    --gray-11: hsl(0 0% 62.8%);
    --gray-12: hsl(0 0% 93%);
    /* Gray Alpha */
    --gray-a1: hsla(0, 0%, 100%, 0);
    --gray-a2: hsla(0, 0%, 100%, 0.026);
    --gray-a3: hsla(0, 0%, 100%, 0.056);
    --gray-a4: hsla(0, 0%, 100%, 0.077);
    --gray-a5: hsla(0, 0%, 100%, 0.103);
    --gray-a6: hsla(0, 0%, 100%, 0.129);
    --gray-a7: hsla(0, 0%, 100%, 0.172);
    --gray-a8: hsla(0, 0%, 100%, 0.249);
    --gray-a9: hsla(0, 0%, 100%, 0.386);
    --gray-a10: hsla(0, 0%, 100%, 0.446);
    --gray-a11: hsla(0, 0%, 100%, 0.592);
    --gray-a12: hsla(0, 0%, 100%, 0.923);
}

body {
    @apply bg-background text-foreground font-sans dark:bg-background;
}
